<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/productDetails.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Commitments.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AvaKids_188269.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        @* <partial name="../Layout/Header.cshtml"> *@
        @await Html.PartialAsync("../Layout/Header.cshtml")
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow
            mb-1">
            <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ProductDetails">AvaKids_188269</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
            asp-action="Privacy">Privacy</a>
            </li>
            </ul>
            </div>
            </div>
            </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="../Layout/Commitments.cshtml">
        <footer>
            <partial name="../Layout/Footer.cshtml">
        </footer>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/formSearch.js" asp-append-version="true"></script>
        <script src="~/js/ListFilter.js" asp-append-version="true"></script>
        <script src="~/js/FilterProduct.js" asp-append-version="true"></script>
        <script src="~/js/ajax-pagination.js" asp-append-version="true"></script>
        <script src="~/js/sortProducts.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
