
@{
    ViewData["Title"] = "Đồ chơi trẻ em chính hãng, giá tốt, an toàn, giảm giá, hấp dẫn";

}
<div class="h-pds">
    <div class="h-owl">
        <img src="https://cdn.tgdd.vn/2022/06/banner/pVN0wVLM-1200x200-1.png" alt="" class="owl-itm">
        <div class="box-btnowl">
            <div class="btnowls-prev">
                <div class="btnowl btnowl-prev"></div>
            </div>
            <span class="counter-owl">2</span>
            <span class="total-owl">3</span>
            <div class="btnowls-next">
                <div class="btnowl btnowl-next"></div>
            </div>
        </div>
    </div>
    <h3 class="h-tt">777 đồ chơi</h3>
    <div class="h-warpper">
        <div class="wrapper-filter">
            @* Lọc *@
            <div id="filter" class="filter-item filter-total">
                <i class="icon-filter"></i>
                <p class="filter-txt">Lọc</p>
                <div class="filter_box filter_child_item">
                   <div class="show-total__main">
            <div class="close-filtertotal">
                Đóng
                <i class="icon-closefilter"></i>
            </div>
            <div class="filter-selected" style="display: none;">
                <div class="warpper-selected">
                    <span class="filter-selected-txt">Đã chọn:</span>
                    <div class="appendItem"></div>
                    <a href="javascript:void(0)" class="clear-selected-all">Xóa tất cả</a>
                </div>
            </div>

            <!-- Filter sản phẩm -->

            <!-- Filter Property -->
    <div class="show-total-item clearfix">
        <p class="show-total-txt" data-item="Giới tính">Hãng:</p>
        <div class="filter-list filter-list--hang manu insight" data-sight="0">
                <a href="#"  class="c-btnbox filter-manu " data-href="polesie" data-id="170038" data-name="POLESIE" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/04/Sports/Images/170038/Khongcotieude(200×120px)-200x120.png" width="67" height="33" alt="POLESIE">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="tinglok" data-id="212279" data-name="TingLok" data-type="1">
TingLok                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="yuexing" data-id="196482" data-name="Yuexing" data-type="1">
Yuexing                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="star-kids" data-id="161418" data-name="STAR KIDS" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/02/Sports/Images/161418/Thietkekhongten-2022-02-19T152724.511-200x120.png" width="67" height="33" alt="STAR KIDS">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="pamama" data-id="161419" data-name="Pamama" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/02/Sports/Images/161419/BBK(3)-200x120.png" width="67" height="33" alt="Pamama">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="funday" data-id="161420" data-name="Funday" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/02/Sports/Images/161420/BBK(2)-200x120.png" wid((uint)th="67" height="33" alt="Funday">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="bkk" data-id="161421" data-name="BKK" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/02/Sports/Images/161421/BBK(1)-200x120.png" width="67" height="33" alt="BKK">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="duka" data-id="201682" data-name="Duka" data-type="1">
Duka                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="antona" data-id="120703" data-name="Antona" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120703/Antona-200x120.png" width="67" height="33" alt="Antona">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="vbcare" data-id="120704" data-name="VBCare" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120704/VBCare-200x120.png" width="67" height="33" alt="VBCare">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="panlos-brick" data-id="120812" data-name="Panlos Brick" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120812/PANLOSBRICK-200x120.png" width="67" height="33" alt="Panlos Brick">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="ausini" data-id="120813" data-name="Ausini" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120813/AUSINI-200x120.png" width="67" height="33" alt="Ausini">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="gudi" data-id="120814" data-name="Gudi" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120814/GUDI-200x120-1.png" width="67" height="33" alt="Gudi">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="bowa" data-id="120815" data-name="Bowa" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120815/BOWA-200x120.png" width="67" height="33" alt="Bowa">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="tanaka" data-id="120816" data-name="Tanaka" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120816/Tanaka-200x120.png" width="67" height="33" alt="Tanaka">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="bei-yu-jia" data-id="120817" data-name="Bei Yu Jia" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120817/BeiYuJia-200x120.png" width="67" height="33" alt="Bei Yu Jia">
                </a>
                <a href="#" class="c-btnbox filter-manu " data-href="tna" data-id="120818" data-name="TNA" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120818/TNA-200x120.png" width="67" height="33" alt="TNA">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="gorock" data-id="120820" data-name="Gorock" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120820/GOROCK-200x120.png" width="67" height="33" alt="Gorock">
                </a>
                <a href="#" class="c-btnbox filter-manu " data-href="winwintoys" data-id="120821" data-name="Winwintoys" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120821/winwintoy-200x120.png" width="67" height="33" alt="Winwintoys">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="battat" data-id="120823" data-name="Battat" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120823/Thietkekhongten(80)-200x120.png" width="67" height="33" alt="Battat">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="fisher-price-19" data-id="120824" data-name="Fisher Price 19" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120824/FisherPrice-200x120.png" width="67" height="33" alt="Fisher Price 19">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="leapfrog" data-id="120825" data-name="Leapfrog" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120825/Thietkekhongten(81)-200x120.png" width="67" height="33" alt="Leapfrog">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="peek-a-boo" data-id="120841" data-name="Peek A-Boo" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120841/PEEKA-BOO-200x120.png" width="67" height="33" alt="Peek A-Boo">
                </a>
                <a href="#" class="c-btnbox filter-manu " data-href="playdoh" data-id="120844" data-name="PlayDoh" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120844/Thietkekhongten(82)-200x120.png" width="67" height="33" alt="PlayDoh">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="gogo-bus" data-id="120863" data-name="GOGO BUS" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120863/Thietkekhongten(83)-200x120.png" width="67" height="33" alt="GOGO BUS">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="superwings" data-id="120864" data-name="Superwings" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120864/Thietkekhongten(84)-200x120.png" width="67" height="33" alt="Superwings">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="vecto" data-id="120865" data-name="Vecto" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120865/VECTO-200x120.png" width="67" height="33" alt="Vecto">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="miniforce" data-id="120866" data-name="Miniforce" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120866/MINIFORCE-200x120.png" width="67" height="33" alt="Miniforce">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="zoids-2" data-id="120875" data-name="Zoids 2" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120875/Zoids2-200x120.png" width="67" height="33" alt="Zoids 2">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="hot-wheels" data-id="120876" data-name="HOT WHEELS" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120876/HOTWHEELS-200x120.png" width="67" height="33" alt="HOT WHEELS">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="beyblade-4" data-id="120877" data-name="Beyblade 4" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120877/BEYBLADE4-200x120.png" width="67" height="33" alt="Beyblade 4">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="thomas-friends" data-id="120878" data-name="THOMAS FRIEND" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120878/Thietkekhongten(85)-200x120.png" width="67" height="33" alt="THOMAS FRIEND">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="clever-hippo-toy" data-id="120879" data-name="Clever Hippo Toy" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120879/CLEVERHIPPO-200x120.png" width="67" height="33" alt="Clever Hippo Toy">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="peppa-pig" data-id="120881" data-name="Peppa Pig" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120881/PEPPAPIG-200x120.png" width="67" height="33" alt="Peppa Pig">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="discovery" data-id="120882" data-name="Discovery" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120882/DISCOVERY-200x120.png" width="67" height="33" alt="Discovery">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="united-sport" data-id="120883" data-name="UNITED SPORT" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120883/UNITEDSPORT-200x120.png" width="67" height="33" alt="UNITED SPORT">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="rastar" data-id="120885" data-name="Rastar" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120885/Rastar-200x120.png" width="67" height="33" alt="Rastar">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="nikko" data-id="120886" data-name="Nikko" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120886/NIKKO-200x120.png" width="67" height="33" alt="Nikko">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="slimy" data-id="120888" data-name="Slimy" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120888/SLIMY-200x120.png" width="67" height="33" alt="Slimy">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="lol" data-id="120889" data-name="LOL" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120889/LOL-200x120.png" width="67" height="33" alt="LOL">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="wenyi" data-id="124526" data-name="Wenyi" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124526/Thietkekhongten(32)-200x120.png" width="67" height="33" alt="Wenyi">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="ziyu" data-id="124506" data-name="Ziyu" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124506/Ziyu-toys-200x120.png" width="67" height="33" alt="Ziyu">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="xing-feng" data-id="124507" data-name="XING FENG" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124507/Xingfeng-200x120.png" width="67" height="33" alt="XING FENG">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="kaihongda" data-id="124509" data-name="Kaihongda" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/124509/Thietkekhongten(76)-200x120.png" width="67" height="33" alt="Kaihongda">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="lucky-boy" data-id="124508" data-name="LUCKY BOY" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/124508/Thietkekhongten(78)-200x120.png" width="67" height="33" alt="LUCKY BOY">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="lego" data-id="124513" data-name="Lego" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124513/Lego-200x120.png" width="67" height="33" alt="Lego">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="lihong" data-id="124525" data-name="Lihong" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/124525/party(2)-200x120.png" width="67" height="33" alt="Lihong">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="vanyeh" data-id="139795" data-name="Vanyeh" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/139795/Thietkekhongten(80)-200x120.png" width="67" height="33" alt="Vanyeh">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="smart-stick" data-id="139847" data-name="SMART STICK" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/139847/Thietkekhongten(81)-200x120.png" width="67" height="33" alt="SMART STICK">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="pvc-dino" data-id="139946" data-name="PVC DINO" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/139946/Thietkekhongten(82)-200x120.png" width="67" height="33" alt="PVC DINO">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="587" data-id="139947" data-name="587" data-type="1">
                        <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/139947/Thietkekhongten(84)-200x120.png" width="67" height="33" alt="587">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="lx" data-id="152058" data-name="LX" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/0/LX-200x120.png" width="67" height="33" alt="LX">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="keepplay" data-id="152059" data-name="Keepplay" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/0/LX(1)-200x120.png" width="67" height="33" alt="Keepplay">
                </a>
                <a href="#"  class="c-btnbox filter-manu " data-href="haochen" data-id="152063" data-name="Haochen" data-type="1">
                        <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/0/LX(2)-200x120.png" width="67" height="33" alt="Haochen">
                </a>
        </div>
    </div>
                    <div class="show-total-item " data-hiddenbyone="False">
                        <p class="show-total-txt" data-item="Loại">Loại:</p>
                        <div class="filter-list props insight" data-propid="29565" data-sight="0">
                                <a href="#"  data-href="van-dong" class="c-btnbox " data-smooth="1" data-id="202866" data-name="Đồ chơi vận động" data-type="3">Đồ chơi vận động</a>
                                <a href="#"  data-href="nha-tam" class="c-btnbox " data-smooth="1" data-id="202867" data-name="Đồ chơi nhà tắm" data-type="3">Đồ chơi nhà tắm</a>
                                <a href="#"  data-href="nhap-vai" class="c-btnbox " data-smooth="1" data-id="202868" data-name="Đồ chơi nhập vai" data-type="3">Đồ chơi nhập vai</a>
                                <a href="#"  data-href="be-trai" class="c-btnbox " data-smooth="1" data-id="202869" data-name="Đồ chơi bé trai" data-type="3">Đồ chơi bé trai</a>
                                <a href="#"  data-href="dieu-khien" class="c-btnbox " data-smooth="1" data-id="202870" data-name="Đồ chơi điều khiển" data-type="3">Đồ chơi điều khiển</a>
                                <a href="#"  data-href="lap-rap" class="c-btnbox " data-smooth="1" data-id="202871" data-name="Đồ chơi lắp ráp" data-type="3">Đồ chơi lắp ráp</a>
                                <a href="#"  data-href="so-sinh" class="c-btnbox " data-smooth="1" data-id="202872" data-name="Đồ chơi sơ sinh" data-type="3">Đồ chơi sơ sinh</a>
                                <a href="#"  data-href="be-gai" class="c-btnbox " data-smooth="1" data-id="211109" data-name="Đồ chơi bé gái" data-type="3">Đồ chơi bé gái</a>
                                <a href="#"  data-href="hoc-tap" class="c-btnbox " data-smooth="1" data-id="211453" data-name="Đồ chơi học tập" data-type="3">Đồ chơi học tập</a>
                        </div>
                    </div>
        </div>
        <div class="filter-button" style="display: block;">
                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                <a href="javascript:void(0)" class="btn-filter-readmore">Xem (<b class="total-reloading">0</b> kết quả)</a>
        </div>
                </div>
                
            </div>
            <div class="fixed_filter">
            </div>
            @* Hãng *@
            <div id="company" data-name="Thương hiệu" class="filter-item filter-selection">
                <p id="company_h" data-index="1" class="select-txt">Hãng</p>
                <span class="select-bf icon_bf_at"></span>
                <div class="filter_logoSp filter_child_item">
                    <div class="filter-list filter-list--column manu outsight" data-sight="1">
                        <a href="#" class="c-btnbox filter-manu " data-href="polesie" data-id="170038" data-name="POLESIE" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/04/Sports/Images/170038/Khongcotieude(200×120px)-200x120.png" width="67" height="33" alt="POLESIE">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="tinglok" data-id="212279" data-name="TingLok" data-type="1">
TingLok                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="yuexing" data-id="196482" data-name="Yuexing" data-type="1">
Yuexing                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="star-kids" data-id="161418" data-name="STAR KIDS" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/02/Sports/Images/161418/Thietkekhongten-2022-02-19T152724.511-200x120.png" width="67" height="33" alt="STAR KIDS">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="pamama" data-id="161419" data-name="Pamama" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/02/Sports/Images/161419/BBK(3)-200x120.png" width="67" height="33" alt="Pamama">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="funday" data-id="161420" data-name="Funday" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/02/Sports/Images/161420/BBK(2)-200x120.png" width="67" height="33" alt="Funday">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="bkk" data-id="161421" data-name="BKK" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/02/Sports/Images/161421/BBK(1)-200x120.png" width="67" height="33" alt="BKK">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="duka" data-id="201682" data-name="Duka" data-type="1">
Duka                        </a>
                        <a href="#" class="c-btnbox filter-manu " data-href="antona" data-id="120703" data-name="Antona" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120703/Antona-200x120.png" width="67" height="33" alt="Antona">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="vbcare" data-id="120704" data-name="VBCare" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120704/VBCare-200x120.png" width="67" height="33" alt="VBCare">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="panlos-brick" data-id="120812" data-name="Panlos Brick" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120812/PANLOSBRICK-200x120.png" width="67" height="33" alt="Panlos Brick">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="ausini" data-id="120813" data-name="Ausini" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120813/AUSINI-200x120.png" width="67" height="33" alt="Ausini">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="gudi" data-id="120814" data-name="Gudi" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120814/GUDI-200x120-1.png" width="67" height="33" alt="Gudi">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="bowa" data-id="120815" data-name="Bowa" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120815/BOWA-200x120.png" width="67" height="33" alt="Bowa">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="tanaka" data-id="120816" data-name="Tanaka" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120816/Tanaka-200x120.png" width="67" height="33" alt="Tanaka">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="bei-yu-jia" data-id="120817" data-name="Bei Yu Jia" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120817/BeiYuJia-200x120.png" width="67" height="33" alt="Bei Yu Jia">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="tna" data-id="120818" data-name="TNA" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120818/TNA-200x120.png" width="67" height="33" alt="TNA">
                        </a>
                        <a  href="do-choi-gorock" class="c-btnbox filter-manu " data-href="gorock" data-id="120820" data-name="Gorock" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120820/GOROCK-200x120.png" width="67" height="33" alt="Gorock">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="winwintoys" data-id="120821" data-name="Winwintoys" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120821/winwintoy-200x120.png" width="67" height="33" alt="Winwintoys">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="battat" data-id="120823" data-name="Battat" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120823/Thietkekhongten(80)-200x120.png" width="67" height="33" alt="Battat">
                        </a>
                        <a href="#" href="do-choi-fisher-price-19" class="c-btnbox filter-manu " data-href="fisher-price-19" data-id="120824" data-name="Fisher Price 19" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120824/FisherPrice-200x120.png" width="67" height="33" alt="Fisher Price 19">
                        </a>
                        <a href="#" class="c-btnbox filter-manu " data-href="leapfrog" data-id="120825" data-name="Leapfrog" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120825/Thietkekhongten(81)-200x120.png" width="67" height="33" alt="Leapfrog">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="peek-a-boo" data-id="120841" data-name="Peek A-Boo" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120841/PEEKA-BOO-200x120.png" width="67" height="33" alt="Peek A-Boo">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="playdoh" data-id="120844" data-name="PlayDoh" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120844/Thietkekhongten(82)-200x120.png" width="67" height="33" alt="PlayDoh">
                        </a>
                        <a href="#" class="c-btnbox filter-manu " data-href="gogo-bus" data-id="120863" data-name="GOGO BUS" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120863/Thietkekhongten(83)-200x120.png" width="67" height="33" alt="GOGO BUS">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="superwings" data-id="120864" data-name="Superwings" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120864/Thietkekhongten(84)-200x120.png" width="67" height="33" alt="Superwings">
                        </a>
                        <a href="#" class="c-btnbox filter-manu " data-href="vecto" data-id="120865" data-name="Vecto" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120865/VECTO-200x120.png" width="67" height="33" alt="Vecto">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="miniforce" data-id="120866" data-name="Miniforce" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120866/MINIFORCE-200x120.png" width="67" height="33" alt="Miniforce">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="zoids-2" data-id="120875" data-name="Zoids 2" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120875/Zoids2-200x120.png" width="67" height="33" alt="Zoids 2">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="hot-wheels" data-id="120876" data-name="HOT WHEELS" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120876/HOTWHEELS-200x120.png" width="67" height="33" alt="HOT WHEELS">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="beyblade-4" data-id="120877" data-name="Beyblade 4" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120877/BEYBLADE4-200x120.png" width="67" height="33" alt="Beyblade 4">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="thomas-friends" data-id="120878" data-name="THOMAS FRIEND" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/120878/Thietkekhongten(85)-200x120.png" width="67" height="33" alt="THOMAS FRIEND">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="clever-hippo-toy" data-id="120879" data-name="Clever Hippo Toy" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120879/CLEVERHIPPO-200x120.png" width="67" height="33" alt="Clever Hippo Toy">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="peppa-pig" data-id="120881" data-name="Peppa Pig" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120881/PEPPAPIG-200x120.png" width="67" height="33" alt="Peppa Pig">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="discovery" data-id="120882" data-name="Discovery" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120882/DISCOVERY-200x120.png" width="67" height="33" alt="Discovery">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="united-sport" data-id="120883" data-name="UNITED SPORT" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120883/UNITEDSPORT-200x120.png" width="67" height="33" alt="UNITED SPORT">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="rastar" data-id="120885" data-name="Rastar" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120885/Rastar-200x120.png" width="67" height="33" alt="Rastar">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="nikko" data-id="120886" data-name="Nikko" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120886/NIKKO-200x120.png" width="67" height="33" alt="Nikko">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="slimy" data-id="120888" data-name="Slimy" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120888/SLIMY-200x120.png" width="67" height="33" alt="Slimy">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="lol" data-id="120889" data-name="LOL" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120889/LOL-200x120.png" width="67" height="33" alt="LOL">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="wenyi" data-id="124526" data-name="Wenyi" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124526/Thietkekhongten(32)-200x120.png" width="67" height="33" alt="Wenyi">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="ziyu" data-id="124506" data-name="Ziyu" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124506/Ziyu-toys-200x120.png" width="67" height="33" alt="Ziyu">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="xing-feng" data-id="124507" data-name="XING FENG" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124507/Xingfeng-200x120.png" width="67" height="33" alt="XING FENG">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="kaihongda" data-id="124509" data-name="Kaihongda" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/124509/Thietkekhongten(76)-200x120.png" width="67" height="33" alt="Kaihongda">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="lucky-boy" data-id="124508" data-name="LUCKY BOY" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/124508/Thietkekhongten(78)-200x120.png" width="67" height="33" alt="LUCKY BOY">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="lego" data-id="124513" data-name="Lego" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124513/Lego-200x120.png" width="67" height="33" alt="Lego">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="lihong" data-id="124525" data-name="Lihong" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/124525/party(2)-200x120.png" width="67" height="33" alt="Lihong">
                        </a>
                        <a href="#" " class="c-btnbox filter-manu " data-href="vanyeh" data-id="139795" data-name="Vanyeh" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/139795/Thietkekhongten(80)-200x120.png" width="67" height="33" alt="Vanyeh">
                        </a>
                        <a href="#" class="c-btnbox filter-manu " data-href="smart-stick" data-id="139847" data-name="SMART STICK" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/139847/Thietkekhongten(81)-200x120.png" width="67" height="33" alt="SMART STICK">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="pvc-dino" data-id="139946" data-name="PVC DINO" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/139946/Thietkekhongten(82)-200x120.png" width="67" height="33" alt="PVC DINO">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="587" data-id="139947" data-name="587" data-type="1">
                                <img src="https://cdn.tgdd.vn/2021/12/Sports/Images/139947/Thietkekhongten(84)-200x120.png" width="67" height="33" alt="587">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="lx" data-id="152058" data-name="LX" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/0/LX-200x120.png" width="67" height="33" alt="LX">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="keepplay" data-id="152059" data-name="Keepplay" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/0/LX(1)-200x120.png" width="67" height="33" alt="Keepplay">
                        </a>
                        <a href="#"  class="c-btnbox filter-manu " data-href="haochen" data-id="152063" data-name="Haochen" data-type="1">
                                <img src="https://cdn.tgdd.vn/2022/01/Sports/Images/0/LX(2)-200x120.png" width="67" height="33" alt="Haochen">
                        </a>
                </div>
                <div class="filter-button" style="display: block;">
                        <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                        <a href="javascript:void(0)" class="btn-filter-readmore">Xem (<b class="total-reloading">0</b> kết quả)</a>
                </div>
                </div>
            </div>
            @* <div class="fixed_filter">
            </div> *@

            @* Loại *@
            <div id="kind" data-name="loại" class="filter-item filter-selection">
                <p class="select-txt">Loại</p>
                <span class="select-bf icon_bf_at"></span>
                <div class="filter_kindSp filter_child_item">
                    <div class="filter-list props outsight" data-propid="29565" data-sight="1">
                                            <a href="#"  data-href="van-dong" class="c-btnbox " data-smooth="1" data-id="202866" data-name="Đồ chơi vận động" data-type="3">Đồ chơi vận động</a>
                                                <a href="#"  data-href="nha-tam" class="c-btnbox " data-smooth="1" data-id="202867" data-name="Đồ chơi nhà tắm" data-type="3">Đồ chơi nhà tắm</a>
                                                <a href="#"  data-href="nhap-vai" class="c-btnbox " data-smooth="1" data-id="202868" data-name="Đồ chơi nhập vai" data-type="3">Đồ chơi nhập vai</a>
                                                <a href="#"  data-href="be-trai" class="c-btnbox " data-smooth="1" data-id="202869" data-name="Đồ chơi bé trai" data-type="3">Đồ chơi bé trai</a>
                                                <a href="#"  data-href="dieu-khien" class="c-btnbox " data-smooth="1" data-id="202870" data-name="Đồ chơi điều khiển" data-type="3">Đồ chơi điều khiển</a>
                                                    <a href="#"  data-href="lap-rap" class="c-btnbox " data-smooth="1" data-id="202871" data-name="Đồ chơi lắp ráp" data-type="3">Đồ chơi lắp ráp</a>
                                                    <a href="#"  data-href="so-sinh" class="c-btnbox " data-smooth="1" data-id="202872" data-name="Đồ chơi sơ sinh" data-type="3">Đồ chơi sơ sinh</a>
                                                    <a href="#"  data-href="be-gai" class="c-btnbox " data-smooth="1" data-id="211109" data-name="Đồ chơi bé gái" data-type="3">Đồ chơi bé gái</a>
                                                    <a href="#"  data-href="hoc-tap" class="c-btnbox " data-smooth="1" data-id="211453" data-name="Đồ chơi học tập" data-type="3">Đồ chơi học tập</a>
                    </div>
                    <div class="filter-button" style="display: block;">
                        <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                        <a href="javascript:void(0)" class="btn-filter-readmore">Xem (<b class="total-reloading">0</b> kết quả)</a>
                    </div>
                </div>
            </div>
            @* <div class="fixed_filter">
            </div> *@
            @* ------------ *@
        </div>
        <div class="box-quicklink">
            <div class="quicklink-left">
                <p class="box-quicklink__txt">Phổ biến:</p>
                <a  href="do-choi-be-trai" data-href="https://www.avakids.com/do-choi-be-trai" data-index="1"
                    class="box-quicklink__item">
                    Đồ chơi bé trai
                </a>
                <a href="do-choi-be-gai" data-href="https://www.avakids.com/do-choi-be-gai" data-index="2"
                    class="box-quicklink__item">
                    Đồ chơi bé gái
                </a>
                <a href="do-choi-dieu-khien" data-href="https://www.avakids.com/do-choi-dieu-khien" data-index="3"
                    class="box-quicklink__item">
                    Đồ chơi điều khiển
                </a>
                <a href="do-choi-so-sinh" data-href="https://www.avakids.com/do-choi-so-sinh" data-index="4"
                    class="box-quicklink__item">
                    Đồ chơi sơ sinh
                </a>
                <a href="do-choi-lap-rap" data-href="https://www.avakids.com/do-choi-lap-rap" data-index="5"
                    class="box-quicklink__item">
                    Đồ chơi lắp ráp
                </a>
                <a href="do-choi-nha-tam" data-href="https://www.avakids.com/do-choi-nha-tam" data-index="6"
                    class="box-quicklink__item">
                    Đồ chơi nhà tắm
                </a>
                <a href="do-choi-nhap-vai" data-href="https://www.avakids.com/do-choi-nhap-vai" data-index="7"
                    class="box-quicklink__item">
                    Đồ chơi nhập vai
                </a>
                <a href="do-choi-van-dong" data-href="https://www.avakids.com/do-choi-van-dong" data-index="8"
                    class="box-quicklink__item">
                    Đồ chơi vận động
                </a>
                <a href="do-choi-hoc-tap" data-href="https://www.avakids.com/do-choi-hoc-tap" data-index="9"
                    class="box-quicklink__item">
                    Đồ chơi học tập
                </a>
                <a href="do-choi-587" data-href="https://www.avakids.com/do-choi-587" data-index="10"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-053019.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-antona" data-href="https://www.avakids.com/do-choi-antona" data-index="11"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-053214.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-lego" data-href="https://www.avakids.com/do-choi-lego" data-index="12"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-053503.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-playdoh" data-href="https://www.avakids.com/do-choi-playdoh" data-index="13"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-053659.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-superwings" data-href="https://www.avakids.com/do-choi-superwings" data-index="14"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-053812.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-gogo-bus" data-href="https://www.avakids.com/do-choi-gogo-bus" data-index="15"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-054002.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-battat" data-href="https://www.avakids.com/do-choi-battat" data-index="16"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-054011.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-leftfrog" data-href="https://www.avakids.com/do-choi-leftfrog" data-index="17"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-054110.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-smart-stick" data-href="https://www.avakids.com/do-choi-smart-stick" data-index="18"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-054215.png" width="70" height="20"
                        class="no-text">

                </a>
                <a href="do-choi-vanyeh" data-href="https://www.avakids.com/do-choi-vanyeh" data-index="19"
                    class="box-quicklink__item">
                    <img src="https://cdn.tgdd.vn/Category/Quicklink/10421/17\130522-054303.png" width="70" height="20"
                        class="no-text">

                </a>
            </div>
            <div class="quicklink-right">
                <p class="click-sort">Xếp theo: <span class="sort-show">Nổi bật</span></p>
                <div class="sort-select-main">
                    <p class="active" data-id="9"><i></i>Nổi bật</p>
                    <p class="" data-id="7"><i></i>Bán chạy</p>
                    <p class="" data-id="5"><i></i>% Giảm nhiều</p>
                    <p class="" data-id="3"><i></i>Giá cao đến thấp</p>
                    <p class="" data-id="2"><i></i>Giá thấp đến cao</p>
                </div>
            </div>
        </div>
    </div>
    @* List Products *@
    <div class="h-container-productbox">
        <ul id="model_product" class="list-product-col6">
            @* <li class="item " data-id="274713">
                <a href="/do-choi/do-choi-tre-em-lap-rap-tram-canh-sat-luu-dong-lego-60315-436-chi-tiet-mau-ngau-nhien"
                    class="main-contain" data-code="9885076000278" data-type="1" data-s="Nomal" data-scenrioid="0"
                    data-site="17" data-pro="3" data-cache="True"
                    data-name="Đồ chơi trẻ em lắp ráp trạm cảnh sát lưu động Lego 60315 (436 chi tiết) - Màu ngẫu nhiên"
                    data-id="274713" data-price="1439100.0" data-brand="Lego" data-cate="Đồ chơi" data-box="BoxHome">
                    <div class="item-img">
                        <img loading="lazy"
                            data-src="https://cdn.tgdd.vn/Products/Images/10421/274713/do-choi-tram-canh-sat-luu-dong-lego-city-60315-600x600.jpg"
                            class=" ls-is-cached lazyloaded"
                            alt="Đồ chơi trẻ em lắp ráp trạm cảnh sát lưu động Lego 60315 (436 chi tiết) - Màu ngẫu nhiên"
                            width="300" height="300"
                            src="https://cdn.tgdd.vn/Products/Images/10421/274713/do-choi-tram-canh-sat-luu-dong-lego-city-60315-600x600.jpg">
                    </div>
                    <div class="item-wrap">
                        <h3>Đồ chơi trẻ em lắp ráp trạm cảnh sát lưu động Lego 60315 (436 chi tiết) - Màu ngẫu nhiên
                        </h3>
                        <p class="price-current">1.439.100₫</p>
                        <div class="boxprice">
                            <p class="price-old">1.599.000₫</p>
                            <span class="percent">10%</span>
                        </div>
                    </div>
                </a>
                <div class="btn-buy">
                    <div class="preloader">
                    </div>
                    <p class="txt">Chọn mua</p> *@
                    @* <div class="qtySelector">
                        <span class="decreaseQty"></span>
                        <input type="number" pattern="\d*"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,
                        this.maxLength);"
                        maxlength="3" value="0" class="qtyValue" data-value="0">
                        <span class="increaseQty"></span>
                        </div> *@
                </div>
            </li>
        </ul>
    </div>
<div id="paging">
        <div class="pagbreak fInter" data-total-page="4">
                <a href="javascript:;"  id="_pgPreviousPage"
                        class="button-pagbreak button-pagbreak-prev disabled" data-page="0">
                </a>
                <span class="active">1</span>
                <a href="javascript:;"  class="page-item" data-page="2">2</a>
                <a href="javascript:;"  class="page-item" data-page="3">3</a>
                <a href="javascript:;"  class="page-item" data-page="4">4</a>
                <a href="javascript:;" class="button-pagbreak button-pagbreak-next " id="_pgNextPage"
                         data-page="2"></a>
        </div>
</div>
</div>
