<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../wwwroot/css/Commitment.css" asp-append-version="true">
    <title></title>
</head>

<body>
    <div class="commitment">
        <ul class="commitment_list">
            <li class="commitment_item">
                <div class="commitment_item--icon">
                    <i class="icon_genuine"></i>
                </div>
                <div class="commitment_item--content">
                    <p class="commitment_item--content-ct">
                        <span class="commitment_item--content-title">100% Sản Phẩm Chính Hãng</span>
                    </p>
                    <h6>Hơn 100 thương hiệu nổi tiếng</h6>
                </div>
            </li>
            <li class="commitment_item">
                <div class="commitment_item--icon">
                    <i class="icon_change"></i>
                </div>
                <div class="commitment_item--content">
                    <p class="commitment_item--content-ct">
                        <span class="commitment_item--content-title">1 Đổi 1 trong vòng 1 tháng</span>
                        <span class="li_content_note">(Tùy sản phẩm)</span>
                    </p>
                    <h6>Tại 49 cửa hàng trên toàn quốc</h6>
                    <a target="_blank" href="https://www.avakids.com/bao-hanh-doi-tra" class="commitment_link">Xem chi
                        tiết</a>
                </div>
            </li>
            <li class="commitment_item">
                <div class="commitment_item--icon">
                    <i class="icon_free_ship"></i>
                </div>
                <div class="commitment_item--content">
                    <p class="commitment_item--content-ct">
                        <span class="commitment_item--content-title">Miễn Phí Giao Hàng</span>
                    </p>
                    <h6>Cho đơn từ 500.000đ trong 10km đầu tiên</h6>
                    <a target="_blank" href="https://www.avakids.com/chinh-sach-giao-hang" class="commitment_link">Xem
                        chi tiết</a>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>