<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="footer">
       <section class="footer_section">
            <div class="footer_box">
                <div class="footer_tel footer_item">
                    <h2 class="footer_item--title">TỔNG ĐÀI</h2>
                    <div class="tel_ct">
                        <span class="tel_buy">Gọi mua: 
                            <a class="tel_buy_link" href="#">1900.866.874</a>
                            (7:30 - 22:00)
                            </span>
                        <span class="tel_complain">
                            Khiếu nại:<a class="tel_complain_link" href="#">1900.866.874</a>
                            (8:00 - 21:30)
                        </span>
                    </div>
                    <p class="link_title">Kết nối với chúng tôi</p>
                    <div class="link_social">
                        <a href="https://www.facebook.com/" class="link_social--item" target="_blank">
                            <i class="iconlogo-facebook"></i>
                        </a>
                        <a href="outube.com" class="link_social--item" target="_blank">
                            <i class="iconlogo-youtube"></i>
                        </a>
                    </div>
                </div>
                <div class="footer_menu footer_item">
                     <h2 class="footer_item--title">HỆ THỐNG CỬA HÀNG</h2>
                     <ul class="submenu_footer">
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Hệ thống 50 cửa hàng</a>
                         </li>
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Nội quy cửa hàng</a>
                         </li>
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Chất lượng phục vụ</a>
                         </li>
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Chính sách đổi trả, bảo hành</a>
                         </li>
                     </ul>
                </div>
                <div class="footer_menu footer_item">
                     <h2 class="footer_item--title">HỖ TRỢ KHÁCH HÀNG</h2>
                      <ul class="submenu_footer">
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Điều kiện giao dịch chung</a>
                         </li>
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Hướng dẫn mua hàng online</a>
                         </li>
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Chính sách giao hàng</a>
                         </li>
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Chính sách thanh toán</a>
                         </li>
                     </ul>
                </div>
                <div class="footer_menu footer_item">
                     <h2 class="footer_item--title">VỀ AVAKIDS</h2>
                      <ul class="submenu_footer">
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Giới thiệu công ty</a>
                         </li>
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Chính sách bảo mật thông tin</a>
                         </li>
                         <li class="submenu_footer_item">
                             <a href="#" class="submenu_item_link">Xem bản mobile</a>
                         </li>
                     </ul>
                </div>
            </div>
            <div class="link-mkt">
                <a href="http://online.gov.vn/Home/WebDetails/91439?AspxAutoDetectCookieSupport=1" target="_blank">
                    <i class="iconlogo-bocongthuong"></i>
                </a>
                <a href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/avakidscom-1642947881" title="Chung nhan Tin Nhiem Mang" target="_blank" rel="nofollow">
                <img class=" lazyloaded" data-src="https://tinnhiemmang.vn/handle_cert?id=avakids.com" alt="Chung nhan Tin Nhiem Mang" src="https://tinnhiemmang.vn/handle_cert?id=avakids.com">
                </a>
                <a href="//www.dmca.com/Protection/Status.aspx?ID=636f59d8-884a-46f9-a2f0-c581bd9dd9a9&amp;refurl=https://www.avakids.com/do-choi/do-choi-tram-canh-sat-tuan-tra-va-cuu-hoa-bien-lego-city-60308-297-chi-tiet"
                    target="_blank" title="DMCA.com Protection Status" class="dmca-badge" rel="nofollow">
                    <i class="iconlogo-DMCA"></i>
                </a>
            </div>
            <p class="copyright">
            © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH &amp; ĐT TP.HCM cấp ngày 02/01/2007. <br>
            Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@avakids.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. 
        </p>
    </section>
        <div class="footer__logo">
            <p class="footer__logo-hd">Ghé thăm các website khác cùng tập đoàn MWG</p>
            <ul class="footer__logo-list">
                <li>
                    <a rel="nofollow" href="https://www.avasport.com/" target="_blank">
                        <i class="iconlogo-sport"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.avafashion.com/" target="_blank">
                        <i class="iconlogo-fashion"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.thegioididong.com/avaji" target="_blank">
                        <i class="iconlogo-ji"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.dienmayxanh.com/xe-dap" target="_blank">
                        <i class="iconlogo-cycle"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.topzone.vn/" target="_blank">
                        <i class="iconlogo-topzone"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.bachhoaxanh.com/" target="_blank">
                        <i class="iconlogo-bachhoaxanh"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.thegioididong.com/" target="_blank">
                        <i class="iconlogo-thegioididong"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.dienmayxanh.com/" target="_blank">
                        <i class="iconlogo-dienmayxanh"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.nhathuocankhang.com/" target="_blank">
                        <i class="iconlogo-ankhang"></i>
                    </a>
                </li>
            </ul>
    </div>
   </div>
</body>
</html>