<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header_banner">
        <section class="header_banner_section">
            <button class="btn_previous btn_banner_section">
                <i class="fa-solid fa-chevron-left icon_previous_banner"></i>
            </button>
            <a aria-label="slide" data-cate="0" data-place="1941" href="https://www.avakids.com/online-gia-re">
                <img width="1200" height="44" src="//cdn.tgdd.vn/2022/05/banner/TopBarDesk-1200x44-2.png" alt="Top">
            </a>
            <button class="btn_next btn_banner_section">
                <i class="fa-solid fa-chevron-right icon_next_banner"></i>
            </button>
        </section>
    </div>
    <div class="header_main">
        <section class="header_main--function_search">
            <a href="#" class="header-logo">
                <i class="icon-logo-newsversion"></i>
            </a>
            <form id="formSearch" class="header-search">
                <input autocomplete="off" name="searchString" id="input_search" type="text" placeholder="Tìm sản phẩm, nhóm hàng, hãng...">
                <div class="clear-search">
                    <i class="icon-clear-search"></i>
                </div>
                <button type="submit" class="submit-search">
                    <i class="icon-search"></i>
                </button>
                <div class="search-show">
                    <div class="search-result"></div>
                </div>
                @await Component.InvokeAsync("SearchFocus")
            </form>
            <div class="boxright">
                <a href="" class="header__cart">
                    <div class="header__cart--icon">
                        <i class="icon-cart"></i>
                    </div>
                    <div class="header__cart-money">
                        Giỏ hàng
                    </div>
                </a>
                <a href="tel:1900866874" class="header__hotline">
                    Hotline (7h30 - 22h00)
                    <br>
                    <span>1900 866 874</span>
                </a>
                <a href="/me-va-be" class="txtlink-right">
                    CẨM NANG<br>MẸ VÀ BÉ
                </a>
            </div>
        </section>
        <section class="header_main--options_products">
            <nav class="header_main_menu">
                <ul class="list_menu">
                    <li class="header_main_menu--item">
                        <a href="#" class="click_submenu">
                            <h3>Sữa, thức uống</h3>
                        </a>
                        <div class="header_main_show_menu">
                            <ul class="showmenu_sub">
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/Untitled-1-150x150-4.png"
                                                alt="Sữa bột">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/sua-bot-nguoi-lon-150x150.png" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột người lớn</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_main_menu--item">
                        <a href="#" class="click_submenu">
                            <h3>Bỉm, tã</h3>
                        </a>
                        <div class="header_main_show_menu">
                            <ul class="showmenu_sub">
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/Untitled-1-150x150-4.png"
                                                alt="Sữa bột">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/sua-bot-nguoi-lon-150x150.png" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột người lớn</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_main_menu--item">
                        <a href="#" class="click_submenu">
                            <h3>thực phẩm</h3>
                        </a>
                        <div class="header_main_show_menu">
                            <ul class="showmenu_sub">
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/Untitled-1-150x150-4.png"
                                                alt="Sữa bột">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/sua-bot-nguoi-lon-150x150.png" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột người lớn</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_main_menu--item">
                        <a href="#" class="click_submenu">
                            <h3>mỹ phẩm, chăm sóc mẹ và bé</h3>
                        </a>
                        <div class="header_main_show_menu">
                            <ul class="showmenu_sub">
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/Untitled-1-150x150-4.png"
                                                alt="Sữa bột">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/sua-bot-nguoi-lon-150x150.png" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột người lớn</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_main_menu--item">
                        <a href="#" class="click_submenu">
                            <h3>Làm đẹp</h3>
                        </a>
                        <div class="header_main_show_menu">
                            <ul class="showmenu_sub">
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/Untitled-1-150x150-4.png"
                                                alt="Sữa bột">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/sua-bot-nguoi-lon-150x150.png" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột người lớn</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_main_menu--item">
                        <a href="#" class="click_submenu">
                            <h3>đồ dùng</h3>
                        </a>
                        <div class="header_main_show_menu">
                            <ul class="showmenu_sub">
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/Untitled-1-150x150-4.png"
                                                alt="Sữa bột">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/sua-bot-nguoi-lon-150x150.png" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột người lớn</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_main_menu--item">
                        <a href="#" class="click_submenu">
                            <h3>thời trang</h3>
                        </a>
                        <div class="header_main_show_menu">
                            <ul class="showmenu_sub">
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/Untitled-1-150x150-4.png"
                                                alt="Sữa bột">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/sua-bot-nguoi-lon-150x150.png" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột người lớn</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_main_menu--item">
                        <a href="#" class="click_submenu">
                            <h3>đồ chơi, dụng cụ học tập</h3>
                        </a>
                        <div class="header_main_show_menu">
                            <ul class="showmenu_sub">
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/Untitled-1-150x150-4.png"
                                                alt="Sữa bột">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/sua-bot-nguoi-lon-150x150.png" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột người lớn</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb" src="" alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                                <li class="showmenu_sub--item">
                                    <a href="" class="showmenu_sub--item_link">
                                        <div class="imgshowmenu_sub">
                                            <img class="imgshowmenu_thumb"
                                                src="https://cdn.tgdd.vn//content/suabotphasanchobe-150x150-1.png"
                                                alt="">
                                        </div>
                                        <p class="showmenu_sub--item_nameProduct">Sữa bột pha sẵn cho bé</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</body>

</html>