
<div class="search_focus">
</div>
<div class="search_focusMenu">
    <div class="want_to_find">
        <h3 class="title_findS">Có phải bạn muốn tìm</h3>
        @* <ul class="list_find">
            <li class="item_find">đồ chơi bé trai</li>
            <li class="item_find">đồ chơi bé trai</li>
            <li class="item_find">đồ chơi bé trai</li>
            </ul> *@
    </div>
    <div class="suggestions">
        <h3 class="title_findS">
            Sản phẩm gợi ý
        </h3>
        <ul class="suggestions_list">
        </ul>
    </div>
</div>

